<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Vendor Profile</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" type="text/css" href="{% static 'style1.css' %}"> 
</head>
<body>
    <div class="container">
        <h2><i class="uil uil-store"></i> Restaurant Vendor Profile</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            
            <div class="form-group">
                <label for="business_name"><i class="uil uil-store"></i></label>
                <input type="text" id="business_name" name="business_name" value="{{user.business_name}}" required>
            </div>
            
            <div class="form-group">
                <label for="menu"><i class="uil-align-left-justify"></i></label>
                <textarea id="menu" name="menu" rows="4"  required>{{user.menu}}</textarea>
            </div>

            <div class="form-group">
                <label for="price_per_month"><i class="uil-coins"></i></label>
                <input type="text" id="price_per_month" name="price_per_month" value="{{user.price}}" required>
            </div>
    
            
            <div class="form-group">
                <label for="food_image"><i class="uil uil-image"></i></label>
                <input type="file" id="food_image" name="profile_image" accept="image/*" >
            </div>
            
            <a href = "/vendor-profile/{{user.user.id}}/"><button type="submit"><i class="uil uil-paper-plane"></i> Update</button></a>
        </form>
    </div>
</body>
</html>
